@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
#sectionH {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
   /* margin-left: 100px;
    margin-right: 100px;*/
    background-color: rgba(139, 195, 245);
    /*justify-content: center;
    align-items: center;*/
    gap: 20px;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 50px;
    align-items: end;
}
header p{
    display: flex;
    width: 100%;
    color: white;
    font-size: large;
    font-weight: bold;
}
.iconesrs {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
   /* justify-content: flex-start;*/

    color: white;
    gap: 10px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    width: 100%;
    font-size: smaller;
}
#sectionH ul{
    display: flex;
    
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
     
}
a{
    color: white;
    font-size: smaller;
    font-weight: bold;
    list-style: none;
    width: 100%;
    text-decoration: none;
      
}
#container {
    display: flex;
    width: 100%;
    padding: 50px;
   /* margin-left: 200px;*/
}
#container main{
    padding: 50px;
    width: 100%;
}
#container p{
    font-size: small;
  text-align: left;
    /*padding: 30px 0px 50px 0px;*/
}
aside {
    width: 100%;
    height: 100%;
}
aside img {
    width: 100%;
    height: 100%;
}
form{
    display: flex;
}
.input-group {
    position: relative;
    width: 100%;
    border-radius: 10%;
    border-style: none;
}

.input-group .btn {
    
    position: absolute;
    right: 5px;
    top: 5px;
    height: 80%;
    border-radius: 20%;
    z-index: 5;
}

.input-group .form-control {
    padding-right: 40px; /* Pour laisser de la place pour le bouton */
    border-style: none;
    border-radius: 10%;
}


#interprod{
    width:100%;
    padding: 0px 200px;
   
}
#interprod h2{
    text-align: center;
}
#interprod p{
    text-align: center;
    color: #c2c4c5;
}

#sectionL {
   padding: 0px 100px;
    
    display: flex;
    width: 100%;
    gap: 20px;
}  

.features {
    display: flex;
    flex-direction: column;
    background-color: rgba(139, 195, 245);
    width: 100%;
    border-radius: 10px;
}

.features:hover  {
    transform: scale(1.1);
    filter: grayscale(1);
    transition: 1s;
}
   
.feat-header {
    
    height: 100%;
    /*overflow: hidden;*/
}
.fa-solid {
    width: 100%;
    height: 100%;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 30px 0 0 0;
    transition: 0.5s;
   }

.feat-text {
    padding: 30px;
}
.feat-text h3 {
    font-size: smaller;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.feat-text p {
    font-size: 14px;
    color: white;
    text-align: center;
    
}
#interteam{
    width:100%;
    padding: 200px 200px 50px;
   
}
#interteam h2{
    text-align: center;
}
#interteam p{
    text-align: center;
    color: #c2c4c5;
}
#team{
    width: 100%;
    
    display: flex;
    gap: 50px;
}
.figures{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.figures h2{
    text-align: center;
}
.figures p{
    font-size: smaller;
    text-align: center;
    font-weight: 200;
    color: #c2c4c5;
}
figcaption{
    text-align: center;
}
#team img{
    width: 100%;
    border-radius: 50%;
    filter: grayscale(1);
}
#team img:hover{
    filter: url();
}

#interclients{
    width:100%;
    padding: 200px 200px 50px;
   
}
#interclients h2{
    text-align: center;
}
#interclients p{
    text-align: center;
    color: #c2c4c5;
}
.logosclients{
    width: 100%;
    /* padding: 50px; */
    display: flex;
    gap: 50px;
    justify-content: center;
}
.logosclients img:hover{ /*bien tester différents style car certains ne se voient pas*/
    opacity: 100;
    transition: 1s;
}

.logosclients img{
    width: 100px;
    height: 100px;
    opacity:30%;
}

.parallax h2{
    padding: 50px;
    text-align: center;
    color: white;
    font-weight: bold;;
}
.parallax p{
    text-align: center;
    color: white;
}
.parallax button{
    padding: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-color: white;


}
.parallax {
    background-image: url('img/parallax.png');
  filter: brightness(30%);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#blog {
    padding: 50px;
    display: flex;
    width: 100%;
    gap: 25px;
}
.post-header i{
    display: none;
    color: white;
}
.post-header:hover i{
    display: block;
}
.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-header:hover  {
    transform: scale(1.1);
    filter: grayscale(1);
    transition: 1s;
}
   
.post-header {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-text {
    padding: 20px;
    justify-content: left;
    align-items: flex-start;
}
.post-text h3 {
    font-size: smaller;
    color:black;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: left;
}
.post-text p {
    font-size: 14px;
    color:black;
    text-align: left;
}
#pricing{
   padding: 100px 100px;
}
#pricing_details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: rgb(222, 226, 229);
}
#pricing_details h2,p {
    text-align: center;
}
.stats{
    display: flex;
    gap: 20px;
}
#stat1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#stat2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#creativity span{
    font-weight: bold;
    font-size: 30px;
}
#creativity p{
    color: rgb(170, 169, 169);
    text-align: left;
}
#creativity {
    display: flex;
    width: 100%;
    padding: 20px 20px;
}
#creativity main{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
}
#pricing_details{
    width: 100%;
}
.pricing_table{
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 30px;
    
}
.offer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:white;
   
}
#head-offer{
    width: 100%;
    position: relative;
   
}
#head-offer h3{
    text-align: center;
}
#head_offer p{
    color: rgb(14, 159, 179);
}
.offer i {
    display: flex;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1s;
    opacity: 100;
    background-color: rgb(13, 95, 218);
    border-radius: 0% 20% 0% 20%;
    padding: 5px;
}

.offer span {
    color: rgb(14, 159, 179);
    font-size: 40px;
}

#creativity ul{
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
}
.lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
    color: #c2c4c5;
    background-color: black;
}
.foot-icones{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
footer pre{
    text-align: center;
    
}
