@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
#sectionH {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(139, 195, 245);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header {
    width: 100%;
    display: flex;
    gap: 50px;
}
header i{
    width: 100%;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
.iconesrs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 50px;
    width: 100%;
    font-size: smaller;
}
#sectionH ul{
    display: flex;
    
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
     
}
a{
    color: black;
    font-size: smaller;
    font-weight: bold;
    list-style: none;
    width: 100%;
    text-decoration: none;
      
}
#container {
    display: flex;
    padding: 50px;
    margin-left: 200px;
}
#container main{
    padding: 100px;
}
#container p{
    font-size: small;
    padding: 30px 0px 50px 0px;
}
aside {
    width: 100%;
    height: 100%;
}
aside img {
    width: 100%;
    height: 100%;
}
#inter{
    width:100%;
    margin-left: 200px;
    margin-right: 100px;
}
#inter h2{
    text-align: center;
}
#inter p{
    text-align: center;
}

#sectionL {
    padding: 0px 20px 0px Opx;
    margin-bottom: 200px;
    margin-left: 200px;
    display: flex;
    width: 100%;
    gap: 10px;
}  

.features {
    display: flex;
    flex-direction: column;
    background-color: rgba(139, 195, 245);
    width: 100%;
    border-radius: 10px;
   /* overflow: hidden;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
}

.features:hover .feat-header img {
    transform: scale(1.1);
    filter: grayscale(1);
}
   
.feat-header {
    
    height: 100%;
    /*overflow: hidden;*/
}
.fa-solid {
    width: 100%;
    height: 100%;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 30px 0 0 0;
    transition: 0.5s;
   }

.feat-text {
    padding: 30px;
}
.feat-text h3 {
    font-size: smaller;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}
.feat-text p {
    font-size: 14px;
    color: white;
    text-align: center;
    
}
#team{
    width: 100%;
    margin-left: 200px;
    margin-bottom: 200px;
    display: flex;
    gap: 50px;
}
.figures{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.figures h2{
    text-align: center;
}
.figures p{
    font-size: smaller;
    text-align: center;
    font-weight: 200;
}
figcaption{
    text-align: center;
}
#team img{
    width: 100%;
    border-radius: 50%;
    filter: grayscale(1);
}

.parallax h2{
    padding: 50px;
    text-align: center;
}
.parallax p{
    text-align: center;
}
button{
    padding: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.parallax {
    
    background-image: url('/img/parallax.png'), radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #blog {
    padding: 0px 20px 0px Opx;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    display: flex;
    width: 100%;
    gap: 30px;
    
}

  .posts {
    display: flex;
    flex-direction: column;
    width: 100%;
   /* border-radius: 10px;*/
   /* overflow: hidden;*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;*/
    /*transition: 0.5s;*/
}

.post-header:hover  {
    transform: scale(1.1);
    filter: grayscale(1);
    transition: 1s;
}
   
.post-header {
    padding: 20px 0px 0px 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    color: white;
    /*background-image: radial-gradient(rgb(139, 195, 245), #1294b8);*/
    /*transition: 0.5s;*/
    /*overflow: hidden;*/
   /* background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-text {
    padding: 30px;
    justify-content: left;
    align-items: flex-start;
}
.post-text h3 {
    font-size: smaller;
    color:black;
    margin-bottom: 10px;
    font-weight: 700;
}
.post-text p {
    font-size: 14px;
    color:black;
}
#pricing{
    margin: 300px;
}
#pricing_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#pricing_details h2,p {
    text-align: center;
}

#creativity {
    display: flex;
    width: 100%;
    padding: 20px 20px;
}
#creativity main{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
}
#creativity form{
    display: flex;
    flex-direction: column;
}
.pricing_table{
    display: flex;
    padding: 50px 50px;
    gap: 30px;
    background-color: rgb(222, 226, 229);
}
.offer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:white;
    gap: 10px;
}
#creativity ul{
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
        
}
li{
    display: flex;
    flex-direction: column;
}
.lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    padding: 50px 50px 50px 50px;
    margin: 50px 50px 50px 50px;
    color: #c2c4c5;
    background-color: black;
}
.foot-icones{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
footer pre{
    text-align: center;
    
}
/*#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    }*/